:root {
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    --swatch-foundation:    #d9d6cc; /* USED FOR BODY BACKGROUND */
    --swatch-primary:       #40454e; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
    --swatch-complement:    #353a44; /* USED IN CONTRAST BACKGROUND FOR TOOLBARS */
    --swatch-contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
    --swatch-accent:        #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --swatch-text:          #e9edf0; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */ 
    --swatch-text-accent:   #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --font-primary:         'Consolas';
}

#grid-container {
    background-color: var(--swatch-foundation);
    font-family: var(--font-primary);
    font-weight: 700;
}

.grid-item {
    background-color: var(--swatch-primary);
}

#navbar {
    box-shadow: 2px 2px 2px var(--swatch-primary); 
}

#left-sidebar {
    background-color: var(--swatch-complement);
    color: rgb(233,237,240);
    overflow: auto;
    overflow-x: hidden;
    font-size: 16px;
}

#workspace {
    background-color: var(--swatch-primary);
    color: rgb(233,237,240);
    overflow: auto;
    overflow-x: hidden;
}

#title-div {
    padding-left: 5px;
    color: rgb(255,200,25);
    font-weight: bold;
    font-size: 18pt;
}

#left-sidebar-header {
    font-size: 19px;
    padding-top: 20px;
    border-bottom: dotted;
    height: 4.5%;
}

#todo-list-table-header {
    border-bottom: dotted;
}

.list-header-card {
    border-bottom: dotted;
}

.list-item-card-header {
    border-bottom: dotted;
}

.list-item-card {
    border-bottom: solid;
    border-bottom-width: thin;
    padding-top: 10px;
}

.list-item-card:hover {
    background: rgba(255,255,255, 0.4);
}

.todo_button {
    padding: 10px;
    cursor:pointer;
    background-color: var(--swatch-complement);
}

.todo_button:hover {
    background: rgba(255,255,255, 0.4);
}

#task-col-header {
    padding-top: 20px;
    background-color: var(--swatch-primary);
}
#date-col-header {
    padding-top: 20px;
    background-color: var(--swatch-primary);
}
#status-col-header {
    padding-top: 20px;
    background-color: var(--swatch-primary);
}


.highlight {
    padding: 10px;
    background-color: rgba(255,255,255, 0.7);
    transition: 0.1s ease-in-out;
}
.material-icons {
    padding:3px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#cancel {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
#confirm {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#incomplete {
    color: #f5bc75;
}
#complete {
    color: #8ed4f8;
}
#undo-button {
    visibility: hidden;
}
#redo-button {
    visibility: hidden;
}

.list-item-control-h {

    background-color: var(--swatch-primary);
    color: black;
}
.list-item-control-h:hover {
    background-color: var(--swatch-primary);
    cursor: context-menu;
}


.hidden-button {
    visibility: hidden;
}

.list-item-control:hover {
    background: rgba(255,255,255, 0.6);
}


