body {
    margin: 0;
}
#grid-container {
    position:absolute;
    width:99%;
    height:99%;
    display: grid;
    padding: 0.5%;
    grid-template-rows: 5% 95%;
    grid-template-columns: 15% 85%;
}

#navbar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    margin-bottom: 0.5%;
}

#left-sidebar {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#left-sidebar-header {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 8%;
}

#left-sidebar-header-text {
    
}

#left-sidebar-controls {
    text-align: right;
}

#workspace {
    grid-column: 2 span 1;
    grid-row: 2 span 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#todo-list-items-div{
    display: flex;
    flex-direction: column;
}

.list-item-card {
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 1.5%;
    margin-right: 3%;
    /* margin-top: 1%; */
    width: 97%;
    /*height: 8%; */
    text-align: left;
    /*border: 3px;*/
    /*padding: 7px;*/
}

.list-item-card-header {
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 1.5%;
    margin-right: 3%;
    /* margin-top: 1%; */
    width: 97%;
    height: 8%;
    text-align: left;
    /*border: 3px;*/
    /*padding: 7px;*/
}

.task-col {
    width:25%;
}
.task-inputbox{
    width:25%;
}

.due-date-col {
    width:25%;
}
.due-date-inputbox {
    width:25%;
}

.status-col {
    width:25%
}
.status-selectbox{
    width:25%
}

.list-controls-col {
    width:25%;
    display: flex;
    flex-direction: row;
}

.list-item-control {
    width: 20%;
}